<%- include('partials/header'); -%>

<%= stores.storeName %>

<form class="form" action="/<%= stores._id%>?" method="POST">
    <h2>Leave a review</h2>
    <textarea type="text" name="name" rows="4" cols="40" ></textarea>
    <button class="btn-Up"> Submit</button>
  </form>
  
  <div class="review-list">
    
    <% reviews.forEach(review => { %>
     <li>
        <%= review.reviews %> </br>
        <div class="time-created">
         <p>posted on: <%= review.createdAt %> </p>
        </div>
        
    
    </li>

    <% }) %>
  
  </div>



<%- include('partials/footer'); -%>